# Node.js
node_modules
npm-debug.log

# Playwright
test-results/
playwright-report/
playwright/.cache

# Allure
allure-results/
allure-report/

# Docker
docker-compose.override.yml

# OS specific
.DS_Store
Thumbs.db
